
<div class="search">
    <div class="search__title title">Find your book</div>

    <div class="search__controls">
        <form class="form-search clearfix">
            <div class="search__input">
                <input ng-model="$ctrl.query" class="form-control">
                <div class="result-count" ng-if="$ctrl.query">({{filtered.length}})</div>
            </div>
            <div class="search__sorting">
                Sort by:
                <select ng-model="$ctrl.sort">
                    <option value="-rating">rating</option>
                    <option value="name">alphabet: A-Z</option>
                    <option value="-name">alphabet: Z-A</option>
                </select>
            </div>
        </form>
    </div>
    <ul class="search__list">
        <li ng-repeat="book in $ctrl.books | filter:{name: $ctrl.query} | orderBy: $ctrl.sort as filtered" ng-class="{open:book.openDetails}">
            <a ng-href="#/{{book.id}}" class="search__list-link">{{book.name}}  {{book.rating}}</a>
            <span class="details-trigger" ng-click="book.openDetails = !book.openDetails"></span>
            <div class="search__details">
                <div>{{book.author}}, <em>{{book.year}}</em></div>
                <div>{{ book.preview}}</div>
            </div>
        </li>
    </ul>
</div>

